@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #2B2B2B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.headear-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-logo {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.menyu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menyu-item {
  text-decoration: none;
  color: #fff;
}
.menyu-item + .menyu-item {
  margin-left: 24px;
}
.menyu-item:hover {
  color: #00c4f0;

}
/* hero  */
.hero {
  height: 100vh;
  background-color: #3D3D3D;
  margin-top: 80px;
}
.hero-inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 298px) calc(50% - 5px);
  background-size: 700px;
}
.hero-box {
  padding-left: 40px;
}
.her-span {
  color: #fff;
  font-size: 18px;
}
.hero-paragraph {
  font-size: 40px;
  color: #fff;
}
.hero-mini-box {
 height: 70px;
 overflow: hidden;
}
.hero-text {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}
.hero-animate {
  color: #00c4f0;
  font-size: 30px;
  font-weight: bold;
}
.hero-animate:nth-child(1) {
  animation: text-move 15s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0px;
  }
  10% {
    margin-top: -50px;
  }
  20% {
    margin-top: -100px;
  }
  30% {
    margin-top: -150px;
  }
  40% {
    margin-top: -200px;
  }
  50% {
    margin-top: -250px;
  }
  60% {
    margin-top: -200px;
  }
  70% {
    margin-top: -150px;
  }
  80% {
    margin-top: -100px;
  }
  90% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0px;
  }
}
.hero-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
}
.hero-img {
  border-radius: 50%;
  margin-left: 80px;
}
.hero-btn:hover {
  color: #00c4f0;
  border: #00c4f0 1px solid;
  transition: all 0.5s ease;
}
/* hero  */
/* About  */
.about-inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-paragraph {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
.about-box {
  display: flex;
  justify-content: space-between;
}
.about-box-right {
  max-width: 650px;
}
.about-img {
  border: #000 2px solid;
  object-fit: cover;
  border-radius: 8px;
}
.about-img:hover {
  transform: scale(1.2);
  overflow: hidden;
}
.div {
  overflow: hidden;
}
.about-me {
  font-weight: bold;
  margin-bottom: 30px;
}
.about-text {
  letter-spacing: 1.5px;
  line-height: 30px;
  font-style: normal;
}
.about-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 40px;
}
.about-btn:hover {
  border: #fdfdfd 1px solid;
  color: #fcfefe;
  background-color: #000;
  transition: all 0.5s ease;
}
/* about  */
/* skill  */
.skill-inner {
  padding-bottom: 100px;
}
.skill-paragraph {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.skill-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
.skill-card {
  padding: 30px;
  border: #000 1px solid;
  text-align: center;
  border-radius: 10px;
}
.skill-card:hover {
  box-shadow: 10px 10px 10px 0px #e6e0e0;
}
.skill-card-one {
 grid-column: 1/2;
 grid-row: 1/2;
}
.skill-card-seven {
  grid-column: 2/3;
  grid-row: 3/4;
 }
/* skill  */
/* sevices  */
.services-inner {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-box {
  display: flex;
  align-items: center;
}
.services-paragraph {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.services-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 40px;
 text-align: center;
}
.services-btn:hover {
  border: #fdfdfd 1px solid;
  color: #fcfefe;
  background-color: #000;
  transition: all 0.5s ease;
}
.services-p {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.sevices-card {
  border: #000 1px solid;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sevices-card:hover {
  box-shadow: 10px 10px 10px 0px #e6e0e0;
}
.sevices-card + .sevices-card {
  margin-left: 50px;
}
.services-img {
  margin-bottom: 30px;
}
/* sevices  */
/* work  */
.work-inner {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.work-paragraph {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.work-img {
  width: 400px;
  height: 400px;
}
.work-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 40px;
 text-align: center;
}
.work-btn:hover {
  border: #fdfdfd 1px solid;
  color: #fcfefe;
  background-color: #000;
  transition: all 0.5s ease;
}
/* work  */
/* contact me  */
.contact-inner {
  padding-bottom: 100px;
}
.contact-parahraph {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-card {
  /* border: #000 1px solid; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 10px 10px 10px 0px #f3eeee;
}
.contact-card:hover {
  box-shadow: 10px 10px 10px 10px #dfd6d6;
}
.contact-img {
  margin-bottom: 20px;
}
.contact-p {
  text-decoration: none;
  color: #000;
}
.form {
  width: 50%;
  margin-top: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.form-paragraph {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px;
  color: #000;
  outline: none;
  border: 1px solid rgb(220, 210, 210);
  background-color: rgb(250, 249, 249);
}
.textarea {
  width: 100%;
  resize: none;
  padding: 20px;
  outline: none;
  border: 1px solid rgb(220, 210, 210);
  background-color: rgb(250, 249, 249);
  border-radius: 8px;
}
.contact-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 8px 22px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 40px;
 text-align: center;
}
.contact-btn:hover {
  border: #fdfdfd 1px solid;
  color: #fcfefe;
  background-color: #000;
  transition: all 0.5s ease;
}
/* contact me  */
/* footer  */
.footer {
  background-color: #2B2B2B;
}
.footer-inner {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-paragraph {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.footer-text {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.footer-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}
.footer-item + .footer-item{
margin-left: 24px;
}
/* footer  */